<!doctype html>
<html>
    <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="../../../public/sementicTest/Semantic/semantic.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="../../../public/sementicTest/Semantic/semantic.js"></script>  
   <script src="../../../public/sementicTest/ckeditor/ckeditor.js"></script>
    <script src="../../../public/sementicTest/AddWriting.js"></script> 
   
		<style>
            
	 body{
            margin: 15px;
           
        }
            

     .ui.blue.borderless.inverted.menu {
                height: 100px;
              }
    
    #submitBtn1{
       
    }

    
    </style>  

    </head>
    
    
     <body onload=startTime()>
          <div class="ui blue borderless inverted menu">
          <div class="left menu">
            <a class="item">
              <h1>Toefl Simulator<br></h1> <br><br> <h4>for Teachers</h4>   
              </a>
            </div>      
        <div class="centered menu">  
            
          <a class="item">
           
            <i class="huge github icon"></i>
            </a>
  
        </div>     
        <div class="right menu">
        <a class="item" id="clock"> </a>    
       
    <div class="ui dropdown item">
      <i class="user icon"></i>
       <% if (user.permissionTag == 'toeflTeacher') { %>
         
          <%= user.name %> 선생님, 환영합니다.
		      <!-- <%= user.email %> -->
        <% } %>

      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">profile</a>
        <a class="item" href="/logout">Logout</a>
            </div>
        </div>    
     </div>   
    </div>

        <div>
          <div class="ui huge breadcrumb">
          <a class="section" id="breadcrumbMain">문제출제하기</a>
          <i class="right chevron icon divider"></i>
          <a class="section"> <%= ExamNO %> 회차</a>
          <i class="right chevron icon divider"></i>  
          <div class="active section">Writing</div>
         
      
    
        </div>
          <button class="teal ui right floated button" id="wr_chapter_complete_btn">챕터 완료</button>
         </div>
       
        <br>
             <br>
         
       <div class="ui  inverted blue two item menu">
                <div class="item">
                        <form action="/toeflTeacher/writing/integrated" method="POST" >
                        <input type="hidden" name="ExamNO" value=<%= ExamNO %>>
                        <input type="hidden" name="ExamDesc" value=<%= ExamDesc %>> 
                        <input type="hidden" name="writingProblemType" value=1>
                        <button type="submit" class="ui primary button">Integrated Type</button> 
                        </form> 
                </div>
                <div class="item">
                        <form action="/toeflTeacher/writing/independent" method="POST" >
                        <input type="hidden" name="ExamNO" value=<%= ExamNO %>>
                        <input type="hidden" name="ExamDesc" value=<%= ExamDesc %>> 
                        <input type="hidden" name="writingProblemType" value=2>
                        <button type="submit" class="ui primary button">Independent Type</button> 
                        </form> 
                </div> 
      
        </div>  
      
    <% var a = writingProblemReading; %>
    <% var b = writingProblemListeningImage; %>
    <% var c = writingProblemListeningAudio; %>
    <% var d = writingProblemAnswer; %>

  <div id="parameter1">
  <button id="btn1"><%= a %></button>
  <button id="btn2"><%= b %></button>
  <button id="btn3"><%= c %></button>
  <button id="btn4"><%= d %></button>
  </div>
  

    <% if( (a===1)||(b===1)||(c===1)||(d===1)) { %>
     <!-- 문제가 디비에 없는경우  -->
    <div class="ui fluid container">
    


    <div class="ui two column divided grid">
    <div class="row">
        <div class="column">

        <div class="ui  segment" data-tab="first" id="chapter3">
          

              <form class="ui form" action="/process/toefl/writing/multerAddWriting" method="post" enctype="multipart/form-data" >    
                <input type="hidden" name="ExamNO" value=<%= ExamNO %>>
                <input type="hidden" name="ExamDesc" value=<%= ExamDesc %>> 
                <input type="hidden" name="writingProblemType" value=1>
          <div class="title">

            <div class="ui blue ribbon large label">
                <i class="spoon icon"></i> Reading Script 만들기 
            </div>

            </div>
                 <br> 
          <div class="content active">
          
              <h3 class="ui header">Step1. 지문을 만들어주세요 
              </h3>           
<!--
            <label><h5 class="ui header">Directions : You have 20 minutes to plan and write your response. Your response will be judged on
            the basis of the quality of your writing and on how well your response presents the points in the
            lecture and the relationship to the reading passage. Typically, an effective response will be 150 to
                225 words. </h5></label>
            <br>
            <label><h5 class="ui header">Question : Summarize the points made in the lecture, explaining how they cast doubt on the
                points made in the reading. </h5> </label>
-->

    <div class="field">
         <textarea name="writingProblemReading" id="ckeditor1"></textarea>
        <br>

    </div>    
    <br>        
    </div>
                  
          <div class="title active">
            <div class="ui violet ribbon large label">

                <i class="spoon icon"></i> Lecture mp3와 img upload하기
            </div>
            
          </div>
        <br>
          <div class="content active">
            <div class="field">  
        <div>   
             <h3 class="ui header">Lecture Mp3 upload 하기
              </h3>           
           <label for="wr_int_mp3_ipt" class="ui icon button">
			   
			
			   
                <i class="file icon"></i>
                Open File</label>
            <input type="file" id="wr_int_mp3_ipt" name="writingProblemListeningAudio" style="display:none" accept="audio/*" multiple>
        </div>
          <div id="wr_int_mp3_pre" class="preview" >
        </div>        
             
             <h3 class="ui header">Lecture Img upload 하기
              </h3>               
        <div>
            <label for="wr_int_img_ipt"  class="ui icon button">
                <i class="file icon"></i>
                Open File</label>
            <input type="file" id="wr_int_img_ipt" name="writingProblemListeningImage" style="display:none" accept="image/*" multiple>
        </div> 
            <div id="wr_int_img_pre" class="preview">
            </div>       
 <br>
    <div class="field">
          <h3 class="ui header"> 해설 입력하기 (Description)
              </h3>               
         <textarea class="ui active textarea" name="writingProblemAnswer"></textarea>
       

    </div>   


              <br><br>

          
                
                <button class="ui teal right button" id="submitBtn1" type="submit" >Submit</button>
                
               
               
          </div>
        </div>
       
            </form>    
                
 </div> 
  </div>     
       
    <div class="eigth wide column">
      
        <div class="ui bottom info message">
        
        <div class="header">
          아직 저장된 내용이 없네요!
        </div>
        <ul class="list">
          <li>알고 계셨나요??</li>
          <li>문제를 만들고 저장하시면 이부분에서 문제가 나타납니다</li>
          
        </ul>
     
      </div>
      </div>

    
    </div>
    </div>
    </div>


<!-- 저장된 문제가 있는경우 여기서 랜더링합니다. -->

    <% }else if( (a !=1) || (b!=1) || (c!=1) || (d!=1) ){ %>
    
    <% var a = writingProblemReading; %>
    <% var b = writingProblemListeningImage; %>
    <% var c = writingProblemListeningAudio; %>
    <% var d = writingProblemAnswer; %>





     
     <div class="ui fluid container">
  
    <div class="ui two column divided grid">
    <div class="row">

        <div class="column">

        <div class="ui  segment" data-tab="first" id="chapter3">
            
          <form class="ui form" action="/process/toefl/writing/multerAddWriting" method="post" enctype="multipart/form-data" >    
            <input type="hidden" name="ExamNO" value=<%= ExamNO %>>
            <input type="hidden" name="ExamDesc" value=<%= ExamDesc %>> 
            <input type="hidden" name="writingProblemType" value=1>
          <div class="title">

            <div class="ui blue ribbon large label">
                <i class="spoon icon"></i> 문제 수정하기
            </div>

            </div>
                 <br> 
          <div class="content active">
          
              <h3 class="ui header">Step1. DB에 저장된 구문 수정하기
              </h3>           
<!--
            <label><h5 class="ui header">Directions : You have 20 minutes to plan and write your response. Your response will be judged on
            the basis of the quality of your writing and on how well your response presents the points in the
            lecture and the relationship to the reading passage. Typically, an effective response will be 150 to
                225 words. </h5></label>
            <br>
            <label><h5 class="ui header">Question : Summarize the points made in the lecture, explaining how they cast doubt on the
                points made in the reading. </h5> </label>
-->
    
    <div class="field">
         <textarea name="writingProblemReading" id="ckeditor1" ><%= a %>
         </textarea>
        <br>

    </div>    
    <br>        
    </div>
                  
    <div class="title active">
      <div class="ui violet ribbon large label">

          <i class="spoon icon"></i> Lecture mp3와 img upload하기
      </div>
      
    </div>
  <br>
    <div class="content active">
      <div class="field">  
  <div>   
       <h3 class="ui header">Lecture Mp3 upload 하기
        </h3>           
     <label for="wr_int_mp3_ipt" class="ui icon button">
   

   
          <i class="file icon"></i>
          Open File</label>
      <input type="file" id="wr_int_mp3_ipt" name="writingProblemListeningAudio" style="display:none" accept="audio/*" multiple>
  </div>
    <div id="wr_int_mp3_pre" class="preview" >
  </div>  
  <input type="text" id="inputtest2">      
       
       <h3 class="ui header">Lecture Img upload 하기
        </h3>               
  <div>
      <label for="wr_int_img_ipt"  class="ui icon button">
          <i class="file icon"></i>
          Open File</label>
      <input type="file" id="wr_int_img_ipt" name="writingProblemListeningImage" style="display:none" accept="image/*" multiple>
  </div> 
      <div id="wr_int_img_pre" class="preview">
      </div>   
      <input type="text" id="inputtest3">     
 <br>
 <br>
    <div class="field">
          <h3 class="ui header"> 해설 입력하기 (Description)
              </h3>               
         <textarea class="ui active textarea" id="inputtest4" name="writingProblemAnswer">
         </textarea>
       

    </div>   


              <br><br>

          
                
                <button class="ui teal right button" id="submitBtn1" type="submit" >Submit</button>
                
               
               
          </div>
        </div>
       
            </form>    
                
 </div> 
  </div>     
       
  <div class="eight wide column">
      <div class="ui raised segment">
           <div class="ui blue ribbon big label">
                <i class="spoon icon"></i> 저장된 문제
            </div>  
           <br>
            
         <h3 class="ui header"></h3> 
        <table class="ui fluid attached blue large  table">
        <thead>
          <tr><th>Subject Name</th>
          <th>Saved Value</th>

        </tr></thead><tbody>
          <tr>
          </tr>

          <tr>
            <td>Problem Image</td>
       
            <td><%= b %></td>
        
          </tr>
          <tr>
            <td>Problem Audio</td>
       
            <td><%= c %></td>
        
          </tr>
          <tr>
       
            <td>Problem Desc.</td>
            <td><%= d %></td>
       
          </tr>
        </tbody>
        
      </table>
      <br>  

    <div class="ui bottom info message">
        
        <div class="header">
          Was this what you wanted?
        </div>
        <ul class="list">
          <li>It's good to see you again.</li>
          <li>Did you know it's been a while?</li>
        </ul>
      </div>
    </div>
  </div>

    
    </div>
    </div>
    </div>
    <% } %>
   
	 <div class="ui modal" id="go_back_main_modal">
          <i class="close icon"></i>
          <div class="header">
			
  
			  
           메인 화면으로 이동하기
          </div>
          <div class="content">
         
            <div class="description">
              <div class="ui header">
				 
				  문제 출제하기 메인 화면으로 이동합니다.</div>
           
            </div>
          </div>
          <div class="actions">
         
              <button class="ui grey deny button">이전으로</button>
              
              <button class="ui blue button">이동하기</button>
            
          </div>
        </div> 		 	 
		 
    </body>
    
    
</html>    